[Unit]
Description=A reverse proxy for minecraft server
Documentation=https://github.com/LiterMC/go-liter
Requires=network.target nss-lookup.target

[Service]
Type=notify-reload
WorkingDirectory=/opt/litermc
ExecStart=/usr/sbin/litermc serve
TimeoutStopSec=10
KillMode=mixed
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=litermc
