[Unit]
Description=A reverse proxy for minecraft server
Documentation=https://github.com/kmcsr/go-liter
Requires=network.target nss-lookup.target

[Service]
Type=forking
PIDFile=/var/run/litermc.pid
WorkingDirectory=/opt/litermc
ExecStart=/usr/sbin/litermc daemon /var/run/litermc.pid
ExecReload=/usr/sbin/litermc reload /var/run/litermc.pid
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry TERM/5 --pidfile /var/run/litermc.pid
TimeoutStopSec=10
KillMode=mixed
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=litermc
